<h1 class="text-center mb-3 mt-3">All users</h1>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
<% @users.each do |user| %>   
    <h2>
        <span class="badge rounded-pill text-bg-secondary"><%= gravatar_for user %></span>
        <%= link_to user_path(user), class: "link-body-emphasis" do %>
            <%= user.user_name %>
        <% end %>
        <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "Destroy", user, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
        <% end %>
    </h2>
<% end %>